server {
  # root /usr/share/nginx/;
  # index index.html;

  ########################  REST APIs ###############

  
  location / {
    alias /usr/share/nginx/ida-accounts/;
    try_files $uri $uri/ /index.html;
  }
}


server {
  return 301 https://$host$request_uri;

  listen 80;
  listen [::]:80;
  return 404; # managed by Certbot
}
